* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	display: flex;
	flex-direction: column;

	width: 100%;
	gap: 48px;
}
.vagues {
	width: 100%;
}
nav {
	background-color: var(--darkpink);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 48px 24px 24px 24px;
}
li {
	list-style-type: none;
}
ul {
	display: none;
}
.hero {
	background-color: var(--darkpink);
	display: flex;
	flex-direction: column;
	align-items: start;
	position: relative;
}
h1 {
	text-align: start;
	font-family: var(--poppins);
	font-weight: 700;
	font-style: Bold;
	font-size: 42px;
	color: var(--white);
	line-height: 48px;
	letter-spacing: 0%;
}

.start {
	display: flex;
	flex-direction: column;

	gap: 12px;
	width: 85%;
	padding: 24px;
}
.licorne {
	display: none;
}
.button {
	text-decoration: none;
	color: var(--white);
	font-family: var(--poppins);
	font-weight: 700;
	font-style: Bold;
	font-size: 14px;
	background-color: var(--cyanblue);
	line-height: 100%;
	letter-spacing: 0%;
	padding: 12px 24px;
	border-radius: 9999px;
	width: max-content;
}
.mythos {
	color: var(--white);
	font-family: var(--poppins);
	font-weight: 400;

	font-size: 1rem;
	line-height: 100%;
}
.advantage {
	display: flex;
	flex-direction: column;
	align-self: center;
	max-width: 90%;
	gap: 18px;
}
.advantage1 {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 12px;
}
.advantage1 {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 12px;
}
.advantage2 {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 12px;
}
.aligner {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
}
.aligner2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ai {
	font-family: var(--poppins);
	font-weight: 700;
	color: var(--mirageblack);

	font-size: 1rem;

	line-height: 100%;
}
.phasellus {
	color: var(--mirageblack);
	font-family: var(--poppins);
	font-weight: 400;

	font-size: 1rem;

	line-height: 100%;
}
.fonctionaliter {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 90%;
	gap: 36px;
}
.fonctionaliter1,
.fonctionaliter2,
.fonctionaliter3 {
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 12px;
}
.columns {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
h6 {
	font-family: var(--poppins);
	font-weight: 700;
	font-style: Bold;
	font-size: 14px;

	line-height: 100%;
	color: #565656;
}
span {
	font-family: var(--poppins);
	font-weight: 700;
	font-style: Bold;
	font-size: 1rem;
	color: var(--charmpink);
	line-height: 100%;
}
.avoid {
	font-family: var(--poppins);
	font-weight: 700;
	font-style: Bold;
	font-size: 26px;
	line-height: 100%;
	text-align: center;
}
.ut {
	font-family: var(--poppins);
	font-weight: 400;
	font-size: 1 rem;
	line-height: 100%;
}
.demo {
	display: flex;
	justify-content: center;
	background: linear-gradient(90deg, #523682 0%, #6062e8 100%);
	padding: 48px 0px;
}
.chiant {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 90%;
}
.get {
	color: var(--white);
	font-family: var(--poppins);
	font-weight: 800;
	font-style: ExtraBold;
	font-size: 2rem;

	line-height: 100%;

	text-align: center;
}
.contact {
	color: var(--white);
	font-family: var(--poppins);
	font-weight: 400;

	font-size: 1rem;

	line-height: 100%;
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.row {
	display: flex;
	gap: 24px;
}
input {
	border-radius: 4px;
	border: none;
}
input::placeholder {
	font-family: var(--poppins);
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	color: #a2a2a2;
	line-height: 100%;
	text-align: start;
}
button {
	background-color: var(--white);
	padding: 8px 12px;
	border-radius: 99999px;
	border: none;
	color: #5c55c9;
	font-family: Poppins;
	font-weight: 700;
	font-style: Bold;
	font-size: 14px;
	line-height: 100%;
}
.email {
	font-family: var(--poppins);
	font-weight: 600;
	font-style: SemiBold;
	font-size: 14px;
	color: var(--white);
	line-height: 100%;
}
.titre {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
@media screen and (min-width: 768px) {
	ul {
		display: block;
		display: flex;
		gap: 28px;
	}
	a {
		color: var(--white);
		font-family: var(--poppins);
		font-weight: 700;
		font-style: Bold;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-decoration: none;
	}
	.burger {
		display: none;
	}
	.start {
		width: 50%;
	}
	.licorne {
		display: block;
		position: absolute;
		right: 30px;
		top: 60px;
	}
	.aligner {
		display: flex;
		flex-direction: row;
		align-self: center;
		width: 75%;
	}
	.aligner2 {
		display: flex;
		flex-direction: row;
		align-self: center;
		width: 75%;
	}
	.advantage1 {
		width: 50%;
	}
	.advantage2 {
		width: 50%;
	}
	.fonctionaliter {
		width: 90%;
		gap: 48px;
	}
	.fonctionaliter1 {
		flex-direction: row;
	}
	.fonctionaliter2 {
		flex-direction: row-reverse;
	}
	.fonctionaliter3 {
		flex-direction: row;
	}
	.width {
		width: 20%;
	}
	@media screen and (min-width: 1024px) {
		.start {
			width: 30%;
		}
		.advantage {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			width: 90%;
			gap: 38px;
		}
		.advantage2 {
			width: 100%;
		}
		.aligner {
			display: flex;
			width: 66%;
			gap: 38px;
		}
		.aligner2 {
			width: 33%;
		}
		.fonctionaliter1,
		.fonctionaliter2,
		.fonctionaliter3 {
			justify-content: space-between;
		}
		.columns {
			width: 40%;
		}
		.width {
			width: 40%;
		}
	}
}
